!!!
%html
  %head
    %title =Model.Name
  %body
    %p Name:
      =Model.Name
    %p Email:
      =Model.Email
    %p Address:
      =Model.Address
    %p City:
      =Model.City
    %p State:
      =Model.State
    %p Zip:
      =Model.Zip
    %p Twitter:
      =Model.Twitter