!!!
%html
  %body
    %p Name: =ViewData.Name
    %p Email: =ViewData.Email
    %p Address: =ViewData.Address
    %p City: =ViewData.City
    %p State: =ViewData.State
    %p Zip: =ViewData.Zip
    %p Twitter: =ViewData.Twitter